<div class="box-background vw-100 vh-100" (click)="back()"></div>
<div class="box-pop">
  <!--
  <div class="h-100 w-100 position-relative d-flex">
    <div class="h-100">
      <img class="h-100" src="{{inf.image}}" alt="">
    </div>
    <div class="w-100 h-100" >
      <h1>{{inf.name}}</h1>
      <h2>{{inf.gender}}</h2>
      <h2>{{inf.species}}</h2>
      <h2>{{inf.origin.name}}</h2>
    </div>
  </div>-->
  <div class="row w-85 h-90 element-center box-items" >
      <div class="col-xl-6 col-md-12 position-relative">
        <img class="w-100 element-center" src="{{inf.image}}" alt="">
      </div>
      <div class="col-xl-6 col-md-12">
        <h1>{{inf.name}}</h1>
        <h2>{{inf.gender}}</h2>
        <h2>{{inf.species}}</h2>
        <h2>{{inf.origin.name}}</h2>
      </div>
  </div>

</div>
